.cardWrapper {
    width: 270px; 
    text-align: center;
    padding-bottom: 20px;
    height: 370px;
}
.logoImg {
    max-width: 230px;
    max-height: 150px;

}
.itemText{
    font-size: 35px;
    max-height: 70px;
    height: 70px;
}
.logoImgWrapper {
    height: 170px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    transition: all .1s ease-in-out;

}
.logoImgWrapper:hover { 
    transform: scale(1.2); 
}

.egg {
    height: 170px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    transition: all 5s ease-out;
}
.egg:hover { 
    transform: scale(20.2) !important 
}

.descIcon {
    margin-top: 30px;
    height: 40px;
  }
