.App {
  text-align: center;
  background: #f2f6f5;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white; 
}

.itemWrapper {
  align-content: center
}

.mountain {
  position: -webkit-sticky; 
  position: sticky;
  bottom: 0;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}
.marquee {
  position: fixed;
  top: 90px;
  background-color: #b5473f ;
  width: 100%;
  height: 40px;
}

.hidden {
   display:none; 
}
@media only screen and (min-width: 1750px) {
  .containerWrapper {
    padding-left: 240px !important;
    padding-right: 240px !important;
  }
}

.appegg {
  transition: all 5s ease-out;
  transform-origin: top left; 
  background: #3F51B5;
  min-height: 70px;
}
.appegg:hover { 
  transform: scale(20.2) !important 
 
}
.bodyegg {
  background: #FF007B;
}

.msgcircle {
  background:#f00;
  font-size: 10px;
  margin-bottom:20px;
  border-radius:100%;
  padding:3px;
  width:17px;
  color:#fff;
}
.msgcirclehidden {
  color:#3F51B5;
  font-size: 10px;
  margin-bottom:20px;
  border-radius:100%;
  padding:3px;
  width:17px;
  
}
